<nav class="navbar navbar-expand-sm bg-light">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DigitalSGK-WEB</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Subeler">Şubeler</a></li>
            <li><a href="/Musteriler">Müşteriler</a></li>
        </ul>
    </div>


</nav>
